body {
    margin: 0;
}
h1 {
    font-family: "Helvetica";
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {

}

.navbar {
    overflow: hidden;
    background-color: #A32638;
    font-family: "Helvetica";
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: rgb(201, 201, 201);
    color: black;
}
  
.navbar a.active {
      background-color: #4CAF50;
      color: white;
}

@media (max-width: 800px) {
.navbar{
    display: flex;
    justify-content: center;
} 

h1 {
    display: flex;
    justify-content: center;
}
}

@media (max-width: 400px) {
h1{
    font-size:25px;
}
.navbar a{
    font-size:12px;    
}
    
}
    
